h1 { color: orange;
text-align: center;}

h2{
    text-align: center;
}

h3 {

    text-align: center;


}

button {
   background-color: orange;
}
.row {
    display: flex;
    /* border: solid; */
}

.main-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.caption-text {
    font-size: 15px;
    margin-left: 25em;
}
p {
    font-size: 20px;
}

.container {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
   }
   
   img {
     max-width: 200%;
     max-height:200%;
   }
   
   .text {
     font-size: 70px;
   }

   .blueboxtext {
    display: block;
    margin: 4em;
    font-size: 20px;
    border: solid;
background-color: rgb(12, 79, 161);
   }
.sunrise2-poster {
   size: 20%;
}

   body {
    background-image: url("https://media.istockphoto.com/id/1134085876/photo/predawn-clear-sky-with-orange-horizon-and-violet-atmosphere-smooth-orange-violet-gradient-of.jpg?s=612x612&w=0&k=20&c=bOLOVIdtf4cNpcy09UajB77bSLml9viGetXgzHK7cOo="); 
    background-size: 2300% 2300px;
}

.video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.journal-photo {
    display: block;
    margin-left: 10em;
    margin-right: auto;
}


.notebook {
    font-size: 17px;
    margin-left: 3em;
    margin-right: 3em;
    background-color: #fff; 
    font-family: 'Courier New', Courier, monospace;
background-image: 
linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
linear-gradient(#eee .1em, transparent .1em);
background-size: 100% 1.2em;
}


#onset-photo {
    display: block;
    margin-top: 3em;
    margin-left: 5em;
    margin-right:5em;
    width: 40em;
    height: auto;
}

#onset-description {
    margin-left: 18em;
}

.columnawards-1 {
    float: left;
    width: 25em;
    height: 17em;
    background-color: orange;
    font-size: 17px;
  }
  
  .columnawards-2 {
    float: inline-end;
    width: 24%;
    height: auto;
    margin-right:3em;
  }

  .columnawards-3 {
    float: right;
    margin-left: 7em;
    width: 33.33%;
    height: 20em;
background-color: orange;
    font-size: 17px;
  }
  
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .janetgaynor-photo {
    width: 15vw;
    margin-left: 1em;
margin-right: 4em;
display: block;

}

.ceremony-photo {
    width: 30vw;
    float: right;
margin: auto;
display: block;

}

.row3 {
    background-color: orange;
    display: block;
    border: solid;
margin-left: 4em;
margin-right: 4em;}


.row4 {
    background-color: orange;
    width: 35em;
    margin: auto;
display: block;
border: solid;


}

  footer{
    margin: 2em;
    float: right;
    color: rgb(88, 4, 101);
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;

  }
  .container2 {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
   }

#caption-awards {
    margin-left: 14em;
    margin-right: 14em;
    font-size: 17px;
}


#caption-awards2 {
    margin-top: 1em;
    margin-left: 14em;
    margin-right: 14em;
    font-size: 17px;
}

#academy-info {
    margin-left: 2em;
    margin-right: 2em;
}

iframe { border: none; }

.works-cited {
    font-size: 20px;
}

.firstacademyawards-photo {

    size: 20%;

}
